#ignore the environment variable file
.env
#firebase service account file


#ignore .idea folder
.idea/


# IDE
.idea
*.iws
*.iml
*.ipr

# Build
target/
build/
*.jar
*.war
*.ear

#ignore node modules
node_modules/
#ignore build folder
build

#ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#ignore Mac system files
.DS_Store
#ignore coverage folder
coverage/
#ignore .next folder
.next/

#grafana plugins
docker/grafana/plugins/
docker/grafana/grafana.db
docker/grafana/grafana-config.env


#loki
docker/loki/data/wal/
docker/loki/data/chunks/
docker/loki/data/boltdb-shipper-active
docker/loki/data/boltdb-shipper-archive
docker/loki/data/rules
docker/loki/data/boltdb-shipper-cache/index_20385/compactor-1761939062556415012.r
docker/loki/data/boltdb-shipper-cache/index_20385/compactor-1761327169157137314
docker/loki/data/boltdb-shipper-cache/

#promtail
docker/promtail/data/.positions.yaml648197089
docker/promtail/data/.positions.*
docker/promtail/data/positions.yaml

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

#### exception/target file ###
exception/target/
**/target/

##system target file
system/target/system-0.0.1.jar